/* This will set margin, padding and border to none and zero, and made overflow x hidden */
*,
body {
  margin: 0px;
  padding: 0px;
  border: none;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* made a div with navbar with specific height and 100% width */
.navbar {
  height: 67px;
  width: 100%;
  border: 1px solid black;
}

.navbar>.logo{
    height: inherit;
    width: 12%;
    display: inline-block;
}
/* Accessed .sumip class using hierarchy and adjusted its position */
.navbar>.logo>.sumip{
    height: inherit;
    width: inherit;
    font-weight: bold;
    font-size: 25px;
    margin-left: 45px;
    position: relative;
    top: 16px;
}

.navbar>.content{
    display: inline-block;
    height: inherit;
    width: 60%;
    border: 1px solid black;
    margin-left: 8%;
}

